/mods
/saves
/crash-reports
/logs
/config/splash.properties
/world
/eclipse
/classes
/*_run.zip
/public
node_modules

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt