# Configuration file

balancing {
    # List of block ids that will never be captured. While capturing, the blocks will stay in place.
    #  Ex: minecraft:mob_spawner
    S:excludedBlocks <
        minecraft:air
        minecraft:bedrock
     >

    # List of block ids that can be overriden while teleporting blocks.
    # Put there blocks that the player don't care about (grass, leaves) so they don't prevent the capsule from deploying.
    S:overridableBlocks <
        minecraft:air
        minecraft:water
        minecraft:leaves
        minecraft:leaves2
        minecraft:tallgrass
        minecraft:red_flower
        minecraft:yellow_flower
        minecraft:snow_layer
        minecraft:brown_mushroom
        minecraft:red_mushroom
     >

    # Possible targets for the enchantment. By default : ALL.
    # Possible values are ALL, ARMOR, ARMOR_FEET, ARMOR_LEGS, ARMOR_TORSO, ARMOR_HEAD, WEAPON, DIGGER, FISHING_ROD, BREAKABLE, BOW, null.
    # If null or empty, Capsules will be the only items to be able to get this Enchantment.
    S:recallEnchantType=ALL

    # The higher, the better chance to get this enchant on an item. Default 1. Max vanilla: 10.
    I:recallEnchantWeight=1
}


compatibility {
    # Provider id of the capsule dimension (where blocks are sent inside the capsule).
    # Change needed only if there is conflict with an other mod using the same providerId.
    I:providerId=7

    # Id used to register the Enchantment "Recall".
    #  This enchantment allow an dropped item to come back into the thrower inventory (if not full) when after it collided with something.
    I:recallEnchantId=101
}


